<!DOCTYPE html>
<html>

<head>
    <title>Recuperar Senha</title>
</head>

<body>
    <div>
        <h3>Prezado(a) {{name}},</h3>
        <p>Você solicitou uma redefinição de senha, use esse <a href="{{url}}">link</a> para redefinir sua senha</p>
        <br>
        <p>Cordialmente</p>
    </div>

</body>

</html>
