<!DOCTYPE html>
<html>

<head>
    <title>Sua senha foi alterada</title>
</head>

<body>
    <div>
        <h3>Prezado(a) {{name}},</h3>
        <p>Sua senha foi alterada com sucesso, agora você pode fazer o login com sua nova senha.</p>
        <br>
        <div>
            Cordialmente!
        </div>
    </div>

</body>

</html>
