<!DOCTYPE html>
<html>

<head>
    <title>Bem-Vindo ao Hobox</title>
</head>

<body>
    <div>
        <h3>Olá {{name}}!</h3>
        <p>Bem-vindo ao <b>Hobox</b>, a mais moderna plataforma de integração de marketplaces.</p>
        <p>A partir de agora você já pode usufruir de nossos serviços.</p>
        <br>
        <div>
            Cordialmente!
        </div>
    </div>

</body>

</html>